@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
	background-color: #FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.navbar {
	background-color: #d3d0d0;
}

.navbar {
	padding: 0;
}

.navbar li a {
	color: black;
	text-decoration: none;
}

.nav-item a:hover {
	color: darkgray;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.guidance-list {
	display: none;
}

.main-content {
	max-width: 1000px;
	margin: 0 auto;
}

.guidance-title {
	background-color: #FFC7AF;
}

.guidance-list li {
	margin-bottom: 15px;
}

.fadein {
	opacity: 0;
	transform: translate(0, 80px);
	transition: all 800ms;
}

.fadein.scrollin {
	opacity: 1;
	transform: translate(0,0);
}

.service-content img {
	width: 450px;
	height: 350px;
	object-fit: cover;
}

.address-content img {
	width: 400px;
	height: 300px;
	object-fit: cover;
}

.store-list-img {
	height: 180px;
	width: 180px;

}

.footer-nav {
	background-color: darkgrey;
}


@media screen and (max-width: 767px) {
	.service-content {
		flex-direction: column;
	}

	.service-content img {
		width: 100%;
		height: auto;
	}

	.address-content {
		flex-direction: column;
		align-items: center;
		width: 270px;
		margin: auto;
	}

	.address-content img {
		width: 100%;
		height: auto;
	}

  .swiper-slide img {
    width: 100%;
    height: 300px;
		padding: 20px 40px;
    object-fit: fill;
  }

	.footer-nav {
		font-size: small;
	}

	.address-description p {
		font-size: 10px;
	}
}

@media screen and (min-width: 768px) {
	.swiper {
		height: 400px;
	}
}
