@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
	background-color: #FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.navbar {
	background-color: #d3d0d0;
}

.nav-item a {
	color: black;
	text-decoration: none;
}

.nav-item a:hover {
	color: darkgray;
}

.guidance-list {
	display: none;
}

.guidance-title {
	background-color: #FFC7AF;
}

.fadein {
	opacity: 0;
	transform: translate(0, 80px);
	transition: all 800ms;
}

.fadein.scrollin {
	opacity: 1;
	transform: translate(0,0);
}

.footer-nav {
	background-color: darkgrey;
}

@media screen and (max-width: 767px) {
	.footer-nav {
		font-size: small;
	}
}


